*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sec1{
  background: url(./images/heroSectionBackground.png);
  background-position: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
  min-height: 60vh; 
}
.navbar1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 60px;
 
  padding :10px 48px;

}
.navbar1 a{
  color: white;
  text-decoration: none;

}
.navbar2{
  display: flex;
  gap: 15px;
}
.navbar2 .usericon{
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid 1px white;
  display: none;

}

@media only screen and (max-width:600px)
{
  .navbar2 .usericon
  {
   display: flex;
  }
  .link{
    display: none;
  }

}